[Unit]
Description=Dash for MyGrid
After=network-online.target

[Service]
ExecStart=/bin/bash /home/petste/MyGridDash/start.sh
WorkingDirectory=/home/petste/MyGridDash/
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30
User=petste

LoadCredential=google_client_id:/etc/credstore/google_client_id
LoadCredential=google_client_secret:/etc/credstore/google_client_secret
LoadCredential=google_users:/etc/credstore/google_users
LoadCredential=fox_ess_api_key:/etc/credstore/fox_ess_api_key
LoadCredential=fox_ess_inverter_sn:/etc/credstore/fox_ess_inverter_sn

[Install]
WantedBy=multi-user.target

